
@{
    ViewBag.Title = "Создать роль";
}

<h2 class="text-center">Создать роль</h2>
<a href="@Url.Action("Create")" class="ButtonGrey">Создать новую роль</a>
<br />
<br />
<a href="@Url.Action("ManageUserRoles")" class="ButtonGrey">Редактировать пользовательские роли</a>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Имя роли
    </div>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Записать" />
}
