@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Редактировать роль";
}

<h2 class="text-center">Редактировать роль</h2>

<a href="@Url.Action("Create")" class="ButtonGrey">Создать новую роль</a>
<br />
<br />
<a href="@Url.Action("ManageUserRoles")" class="ButtonGrey">Редактировать пользовательские роли</a>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Новое имя роли
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name)
    </p>
    <input type="submit" value="Записать" />
}
