
@{
    ViewBag.Title = "ManageUserRoles";
}

<h2 class="text-center">Управление ролями</h2>

<h3>Добавить роль пользователю</h3>

@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Имя пользователя : @Html.TextBox("UserName")
        Роль: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Выбрать ...")

    </p>

    <input type="submit" value="Сохранить" />
}
<hr />
<h3>Вывести список ролей у пользователя</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Пользователь : @Html.TextBox("UserName")
        <input type="submit" value="Список ролей" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:darkgrey;">
        <h3>Роли данного пользователя </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Удалить роль у пользователя</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Пользователь : @Html.TextBox("UserName")
        Роль: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value="Удалить роль" />
}

