<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="main_wrapper">
        <div class="container body-content">
            @RenderBody()
            <div id="column_left">
                <span>sdsdsdsdsdsdsdsdsd</span>
            </div>

            <div id="column_main">
                <span>234141412312312312</span>
            </div>

            <footer>
                <br />
                <p>
                    Все материалы на данном сайте размещены на основании
                    <a href="#" title="Авторские права">соглашения</a>
                    и предназначены исключительно для ознакомительных целей.
                </p>
                <p>Все права на публикуемые графические материалы принадлежат их законным владельцам, и Администрация ресурса не несет ответственность за их использование.</p>

                <br />
                <span>&copy; 2016 Print-Game.ru</span>
                <br />
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
