@using PrintGame.Models
@model System.Collections.Generic.List<PrintGame.Models.PageModel>


<div id="Search">

    @*<div id="adv_search">
        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
        {
            <input type="text" name="text" value="" placeholder="Поиск по имени"/>
            <input type="text" name="tag" value="" placeholder="Поиск по имени" />
            <input type="submit" value="" />
        }
    </div>*@



    <ul>
        @foreach (PageModel game in Model)
        {

            <li>
                <a href="@Html.Raw("/Content/GameData" + @game.BoxImageFull)" data-lightbox="@game.TitleRu">
                    <img src="@Html.Raw("/Content/GameData" + @game.BoxImage)" alt="@game.TitleRu"/>
                </a>

                <a href=@game.SEOGameUrl>@game.TitleRu (@game.TitleEn), @game.YearPublishing</a>
                @*<div class="clearfix"></div>*@
            </li>


        }
    </ul>
</div>

    <div class="pang">
        <ul class="pagination">
            @Html.Raw(ViewBag.Pangination);
        </ul>
    </div>


