@model PrintGame.Models.GameModel

@{
//ViewBag.Title = "title";

}



<div id="game" class="clearfix">



    <h2 class="topic">
        @Model.TitleRu (@Model.TitleEn)
    </h2>
    @foreach (Tag tag in Model.Tags)
    {
        <div class="GameTag">
            <a href="">@tag.TagName</a>
        </div>
    }
    <div class="clearfix"></div>
    <div id="GameImage">
        <div Id="Main_image">
            
                <img src="@Html.Raw("/Content/GameData" + @Model.GameImages.First().SmallImagePath)" alt="@Model.TitleRu" />
            
        </div>
        <div id="ImageList">

            <div class="nav_btn">
                <a href="javascript:{}" id="view_scroll_left" title="Другие изображения" style="cursor: pointer; opacity: 1; display: none;">Предыдущая</a>
            </div>
            <div id="Clip_panel">
                <ul>
                    @for (int i = 0; i < Model.GameImages.Count; i++)
                    {
                        <li>
                            <a href="@Html.Raw("/Content/GameData" + @Model.GameImages[i].FulllImagePath)" data-lightbox="lightbox" data-title="@Model.GameImages[i].DescriptImage">
                                <img src="@Html.Raw("/Content/GameData" + @Model.GameImages[i].SmallImagePath)" alt="@Model.GameImages[i].DescriptImage" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="nav_btn">
                <a href="javascript:{}" id="view_scroll_right" title="Другие изображения" style="cursor: pointer; opacity: 1;">Следующая</a>
            </div>
        </div>
    </div>

    <div class="gameIcon">

        @* <div class="container-fluid clearfix">*@
        <div class="clearfix">
            <div id="col_param">
                <h4>Параметры:</h4>
                <ul>
                    <li>
                        <div title="Количество игроков"></div>
                        <span>@Model.NumOfPlayers игроков</span>
                    </li>
                    <li>
                        <div title="Рекомендуемое количество игроков"></div>
                        <span>@Model.NumOfSuggested игроков</span>
                    </li>
                    <li>
                        <div title="Рекомендуемый возраст игроков от"></div>
                        <span>@Model.SuggestedAges лет</span>
                    </li>
                    <li>
                        <div title="Время освоения игры"></div>
                        <span>@Model.Acquaintance минут</span>
                    </li>
                    <li>
                        <div title="Время партии"></div>
                        <span>@Model.PlayingTime минут</span>
                    </li>
                    <li>
                        <div title="Год издания"></div>
                        <span>@Model.YearPublishing год</span>
                    </li>
                    <li>
                        <div title="Средний рейтинг"></div>
                        <span>@Model.Rating бала</span>
                    </li>
                </ul>
            </div>
            <div id="col_consist">
                <h4>Состав&nbsp;коробки:</h4>
                <ul>
                    @Html.Raw(Model.Components)
                </ul>
            </div>
        </div>
    </div>

    <div id="ImgSlaid" style="display: none">

        <div id="Gall_MainImg">

        </div>

    </div>

</div>

@section scripts
{
    <script>
        var ImageList = new Array();
        var ImageIndex = new Object();
        ImageIndex = 0; //
        ImgSlideIndex = 0; //текущая картинка в слайдере

        //Создаем массив с картинками
        @foreach (GameImage gameImage in Model.GameImages)
        {
            @Html.Raw("ImageList.push({" + $" \"GameImageID \": {gameImage.GameImageID}, " +
                      $"\"FulllImagePath\": \"/Content/GameData{gameImage.FulllImagePath}\" , " +
                      $"\"SmallImagePath\": \"/Content/GameData{gameImage.SmallImagePath}\" , " +
                      $"\"DescriptImage\": \"{gameImage.DescriptImage}\" " + "});\n")
            ;

        }

        //Прокрутка в право (обработчик нажатия)
        $("#view_scroll_right").click(function() {
            ImageIndex++;

            if (ImageIndex == ImageList.length - 3) {
                $("#view_scroll_right").hide();
            }
            $("#view_scroll_left").show();

            $("#ImageList ul").animate({ marginLeft: "-=90px" }, 700, "swing");

        });

        //Прокрутка в лево
        $("#view_scroll_left").click(function() {
            ImageIndex--;

            if (ImageIndex == 0) {
                $("#view_scroll_left").hide();

            }
            $("#view_scroll_right").show();

            $("#ImageList ul").animate({ marginLeft: "+=90px" }, 700, "swing");


        });

        //Наведение на картинку
        $("#ImageList ul img").hover(function() {

            for (var i = 0; i < ImageList.length; i++) {
                if (ImageList[i].SmallImagePath == $(this).attr("src")) {
                    $("#Main_image img").attr({ src: ImageList[i].SmallImagePath });
                    //$("#Main_image a").click(function() {
                        //$("#ImageList li:nth-child(" + i + ") a").click();
                    //});
                }
            }
        });

        //------------------------- Вешаем обработчик галереи -----------------------------------


    </script>
}    