@using PrintGame.Areas.Admin.Controllers
@model dynamic

@{
//ViewBag.Title = "title";
//Layout = "_Layout";
}

<h2 class="text-center">Целостность изображений</h2>

@if (ViewBag.FileInDataBaseResault.Count > 0)
{
    <h4>Отсутствуют на диске</h4>
    <hr />
    foreach (ImageModel image in ViewBag.FileInDataBaseResault)
    {
        <p>@image.GameID: @image.ImagePath</p>
    }
}

@if (ViewBag.FileInDisk.Count > 0)
{
    <h4>Мусор на диске</h4>
    foreach (string file in ViewBag.FileInDisk)
    {
        <p>@file</p>
    }
}
<br />
<br/>

<p>Всего изображений в базе: @ViewBag.CountDataBaseImage</p>
<p>Всего изображений на диске: @ViewBag.CountDiskImage</p>
